<section class="py-20" id="about">
  <div class="text-center mb-12">
    <h2
      class="text-3xl md:text-4xl font-bold text-text-light-primary dark:text-text-dark-primary"
    >
      Sobre Mí
    </h2>
    <div class="mt-2 h-1 w-20 bg-primary mx-auto"></div>
  </div>
  <div
    class="max-w-4xl mx-auto bg-surface-light dark:bg-surface-dark rounded-lg shadow-xl p-8 md:p-12"
  >
    <p
      class="text-lg text-text-light-secondary dark:text-text-dark-secondary leading-relaxed"
    >
      Soy un desarrollador FullStack con experiencia en el stack MERN y MySQL,
      enfocado en la calidad del código y la mejora continua. Mi especialidad es
      la integración de APIs, refactorización de código legacy y el trabajo en
      equipos ágiles. Actualmente, estoy muy interesado en el diseño e
      implementación de APIs REST escalables y robustas, buscando siempre
      aplicar las mejores prácticas y arquitecturas para entregar productos de
      alto rendimiento.
    </p>
  </div>
</section>
