<section class="py-20" id="about">
  <div class="text-center mb-12">
    <h2
      class="text-3xl md:text-4xl font-bold text-text-light-primary dark:text-text-dark-primary"
    >
      Sobre Mí
    </h2>
    <div class="mt-2 h-1 w-20 bg-primary mx-auto"></div>
  </div>
  <div
    class="max-w-4xl mx-auto text-center bg-surface-light dark:bg-surface-dark rounded-lg shadow-xl p-8 md:p-12"
  >
    <p
      class="text-lg text-text-light-secondary dark:text-text-dark-secondary leading-relaxed"
    >
      Desarrollador Full Stack MERN apasionado por crear soluciones web robustas
      y escalables. Me especializo en integración de APIs, refactorización de
      código y arquitectura backend con Node.js y Express. Busco formar parte de
      un equipo que valore la mejora continua, la colaboración y la entrega de
      productos de alto rendimiento.
    </p>
  </div>
</section>
