<section
  class="py-20 bg-surface-light/50 dark:bg-surface-dark/50 rounded-lg"
  id="contact"
>
  <div class="text-center mb-12">
    <h2
      class="text-3xl md:text-4xl font-bold text-text-light-primary dark:text-text-dark-primary"
    >
      Hablemos
    </h2>
    <p
      class="mt-4 text-lg text-text-light-secondary dark:text-text-dark-secondary"
    >
      Estoy disponible para nuevos proyectos y colaboraciones. ¡No dudes en
      contactarme!
    </p>
    <div class="mt-2 h-1 w-20 bg-primary mx-auto"></div>
  </div>
  <div class="max-w-xl mx-auto">
    <div
      class="flex flex-col sm:flex-row justify-center items-center space-y-4 sm:space-y-0 sm:space-x-8"
    >
      <a
        class="flex items-center text-lg text-text-light-primary dark:text-text-dark-primary hover:text-primary transition duration-300"
        href="mailto:ferreiras.marcoa@gmail.com"
      >
        <i class="fas fa-envelope mr-2 text-xl"></i>
        ferreiras.marcoa@gmail.com
      </a>
    </div>
  </div>
</section>
