<footer class="bg-surface-light dark:bg-surface-dark py-6 mt-20">
  <div
    class="container mx-auto px-6 text-center text-text-light-secondary dark:text-text-dark-secondary"
  >
    <p>© 2025 Marco Antonio Ferreira Santos.</p>
    <p class="text-sm mt-2">
      Diseñado con <span class="text-primary">Astro</span> y <span
        class="text-primary">Tailwind</span
      >
    </p>
  </div>
</footer>
