    <header
      class="bg-surface-light/80 dark:bg-surface-dark/80 backdrop-blur-sm shadow-md sticky top-0 z-50"
    >
      <div
        class="container mx-auto px-6 py-4 flex justify-between items-center"
      >
        <a class="text-2xl font-bold text-primary" href="#" id="logo">M.A.F.S.</a>
        <div class="flex items-center">
          <nav class="hidden md:flex space-x-6">
            <a
              class="text-text-light-primary dark:text-text-dark-primary hover:text-primary transition duration-300"
              href="#about">Sobre Mí</a
            >
            <a
              class="text-text-light-primary dark:text-text-dark-primary hover:text-primary transition duration-300"
              href="#skills">Habilidades</a
            >
            <a
              class="text-text-light-primary dark:text-text-dark-primary hover:text-primary transition duration-300"
              href="#proyectos">Proyectos</a
            >
            <a
              class="text-text-light-primary dark:text-text-dark-primary hover:text-primary transition duration-300"
              href="#education">Educación</a
            >
            <a
              class="text-text-light-primary dark:text-text-dark-primary hover:text-primary transition duration-300"
              href="#contact">Contacto</a
            >
          </nav>
          <button
            class="ml-6  text-text-light-primary dark:text-text-dark-primary"
            id="theme-toggle"
          >
            <span class="material-icons">brightness_6</span>

          </button>
          <button
            class="md:hidden ml-4 text-text-light-primary dark:text-text-dark-primary"
            id="mobile-menu-button"
          >
            <span class="material-icons">menu</span>
          </button>
        </div>
      </div>
      <div
        class="hidden md:hidden bg-surface-light dark:bg-surface-dark px-6 pt-2 pb-4"
        id="mobile-menu"
      >
        <a
          class="block py-2 text-text-light-primary dark:text-text-dark-primary hover:text-primary transition duration-300"
          href="#about">Sobre Mí</a
        >
        <a
          class="block py-2 text-text-light-primary dark:text-text-dark-primary hover:text-primary transition duration-300"
          href="#skills">Habilidades</a
        >
        <a
          class="block py-2 text-text-light-primary dark:text-text-dark-primary hover:text-primary transition duration-300"
          href="#proyectos">Proyectos</a
        >
        <a
          class="block py-2 text-text-light-primary dark:text-text-dark-primary hover:text-primary transition duration-300"
          href="#education">Educación</a
        >
        <a
          class="block py-2 text-text-light-primary dark:text-text-dark-primary hover:text-primary transition duration-300"
          href="#contact">Contacto</a
        >
      </div>
    </header>