---
import { Image } from "astro:assets";
import me from "@assets/me-portfolio.png";
---

<section
  class="py-20 md:py-32 flex flex-col md:flex-row items-center"
  id="hero"
>
  <div class="md:w-1/2 text-center md:text-left">
    <h1
      class="text-4xl md:text-6xl font-bold text-text-light-primary dark:text-text-dark-primary"
    >
      Marco Antonio
      <span class="block">Ferreira Santos</span>
    </h1>
    <p class="mt-4 text-xl md:text-2xl text-primary font-medium">
      Desarrollador FullStack
    </p>
    <p
      class="mt-6 text-lg text-text-light-secondary dark:text-text-dark-secondary max-w-xl mx-auto md:mx-0"
    >
      Apasionado por crear soluciones web robustas y escalables. Experto en el
      stack MERN y comprometido con la mejora continua y las buenas prácticas.
    </p>
    <div class="mt-8 flex justify-center md:justify-start space-x-4">
      <a
        class="px-8 py-3 bg-primary text-background-dark font-semibold rounded-lg shadow-lg hover:bg-opacity-80 transition duration-300"
        href="#contact"
      >
        <i class="fas fa-comment-dots scale-x-[-1]"></i>
        Contáctame</a
      >
      <a
        class="px-8 py-3 bg-surface-light dark:bg-surface-dark text-text-light-primary dark:text-text-dark-primary font-semibold rounded-lg shadow-lg hover:bg-opacity-80 transition duration-300"
        href="https://github.com/MarcoApunto"
        target="_blank"
      >
        <i class="fab fa-github"></i>
        GitHub
      </a>
      <a
        class="px-8 py-3 bg-surface-light dark:bg-surface-dark text-text-light-primary dark:text-text-dark-primary font-semibold rounded-lg shadow-lg hover:bg-opacity-80 transition duration-300"
        href="/pdf/MarcoFerreira_CV_FullStack.pdf"
        download="MarcoFerreira_CV_FullStack.pdf"
      >
        <i class="fas fa-download"></i>
        CV</a
      >
    </div>
  </div>
  <div class="md:w-1/2 mt-10 md:mt-0 flex justify-center">
    <Image
      alt="Foto de perfil de Marco Antonio Ferreira Santos"
      class="w-64 h-64 md:w-86 md:h-86 rounded-full object-cover shadow-2xl border-4 border-primary"
      src={me}
    />
  </div>
</section>
